.section-mobile {
  padding-block: clamp(var(--section-mobile-padding), calc(3vw + 2.25rem), 5rem);
}

.with-floating-cta {
  padding-bottom: var(--floating-safe-area);
}

.c-cta-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.c-cta-stack .btn {
  @include focus-ring();
}

.c-cta-stack__item {
  width: 100%;
}

@media (max-width: 767.98px) {
  body {
    --floating-safe-area: calc(
      var(--floating-cta-height, 3.5rem) + var(--fab-safe-gap, 2.5rem) + env(safe-area-inset-bottom, 0px)
    );
  }

  .section-mobile {
    padding-block: var(--section-mobile-padding) !important;
  }

  .section-mobile + .section-mobile {
    margin-top: var(--section-mobile-gap);
  }

  .with-floating-cta {
    padding-bottom: calc(var(--floating-safe-area) + var(--cookie-banner-height));
  }

  .c-cta-stack {
    gap: 1.25rem;
  }
}

@media (max-width: 575.98px) {
  .c-cta-stack__item {
    display: block;
  }

  .c-cta-stack .btn {
    width: 100%;
  }
}
